<div <div class="container text-center">
    <h2 class="title">Add a new Celebritie: </h2>
    <form id="search_area" action="/celebrities/create" , method="POST">
        <label>
            <p>Name :</p> <input type="text" class="form-control" name="name" required />
        </label>
        <label>
            <p>Occupation: </p><input type="text" class="form-control" name="occupation" required />
        </label>
        <label>
            <p>Catch Phrase:</p> <input type="text" class="form-control" name="catchPhrase" required />
        </label>
        <br>
        <button type="submit" id="buttonSend" class="mt-3">Send</button>
    </form>
    <br>
    <div class="container mt-3">
        <a href="/" class="buttonBack">&#10094 Back</a>
    </div>
</div>