<div class="text-center">
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="container text-center">
    <div class="card-group text-center">
  <div class="card text-bg-primary m-3 " style="max-width: 18rem;">
  <div class="card-body">
    <h5 class="card-title text-center"><a href="/celebrities/create" class="linkLayout">Create new Celebritie &#9996</a></h5>
    
  </div>
</div>
  <div class="card bg-warning m-3" style="max-width: 18rem;">
  <div class="card-body">
    <h5 class="card-title text-center"><a href="/celebrities" class="linkLayout">View all celebrities &#11088</a></h5>    
  </div>
</div>

</div>

<div class="card-group text-center">

 <div class="card text-bg-primary m-3" style="max-width: 18rem;">
  <div class="card-body">
    <h5 class="card-title text-center"><a href="/movies/create" class="linkLayout">Create a new movie &#128249</a></h5>    
  </div>
</div>
<div class="card bg-warning m-3" style="max-width: 18rem;">
  <div class="card-body">
    <h5 class="card-title text-center"><a href="/movies" class="linkLayout">List of Movies 	&#127752</a></h5>    
  </div>
</div>
</div>

</div>
</div>