<div class="container text-center">
    <h2 class="title">Add a new Movie: </h2>

    <form id="search_area" action="/movies/create" , method="POST">
        <label>
            <p>Title :</p><input type="text" class="form-control" name="title" required />
        </label>
        <label>
            <p>Genre: </p><input type="text" class="form-control" name="genre" required />
        </label>
        <label>
            <p>Plot:</p><input type="text" class="form-control" name="plot" required />
        </label>
        <label>
            <p>Cast:</p><input type="text" class="form-control" name="cast" required />
        </label>
        <br>
        <button type="submit" id="buttonSend" class="mt-3">Send</button>
    </form>
    <br>
    <div class="container mt-3">
        <a href="/" class="buttonBack mt-3"> &#10094 Back</a>
    </div>
</div>